@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before,*::after {
    box-sizing: border-box;
}

h1 {
    @apply text-4xl
}

h2 {
    @apply text-3xl
}

h3 {
    @apply text-2xl
}

li {
    list-style-type: none;
}

.bg-blur-10 {
    backdrop-filter: blur(10px);
}

.pop-over {
    @apply
    z-50
    fixed
    top-0
    bg-black
    bg-opacity-15
    w-screen
    h-screen
    flex
    flex-col
    justify-center
    items-center
    bg-blur-10
}



.btn {
@apply
border
border-black
border-opacity-35
bg-black
bg-opacity-20
hover:bg-opacity-15
hover:border-opacity-20
/*Dark*/
dark:border
dark:border-white
dark:border-opacity-35
dark:bg-white
dark:bg-opacity-20
dark:hover:bg-opacity-15
dark:hover:border-opacity-20
px-4
rounded-full
cursor-pointer
}

.btn-blue {
    @apply  
    text-blue-950
    dark:text-blue-200
    bg-blue-500 
    bg-opacity-45   
    hover:bg-opacity-55
    dark:hover:bg-opacity-20
    dark:hover:border-blue-700
    border-blue-600
    dark:bg-blue-500 
    dark:bg-opacity-25   
    dark:border-blue-600
}

.btn-red {
    @apply 
    text-red-800
    dark:text-red-200
    hover:dark:text-red-300
    hover:text-red-700
    bg-red-500
    bg-opacity-30
    border-red-700
    hover:bg-opacity-25
    hover:border-opacity-50
    hover:text-opacity-75
    dark:bg-red-500
    dark:bg-opacity-15
    dark:border-opacity-80
    hover:dark:border-opacity-60
    dark:border-red-400
}

.btn-green {
    @apply 
    text-green-800
    dark:text-green-200
    hover:dark:text-green-300
    hover:text-green-700
    bg-green-500
    bg-opacity-30
    border-green-700
    hover:bg-opacity-25
    hover:border-opacity-50
    hover:text-opacity-75
    dark:bg-green-500
    dark:bg-opacity-15
    dark:border-opacity-80
    hover:dark:border-opacity-60
    dark:border-green-400
}

.btn-trash {
    @apply
    p-1
    btn-red
}

.btn-close {
    @apply
    p-2
    py-0
    font-bold
    text-lg
    btn-red
    absolute
    right-20
  }


.border-thin {
    @apply border border-white border-opacity-35
}

.input {
    @apply
    bg-black
    bg-opacity-25
    p-2 px-4
    rounded-full
    border
    border-white
    border-opacity-35 
    focus:outline-none
    w-full
}

input#image {
    @apply flex justify-center
}

input[type="file"] {
    background-color: transparent;
}

input[type="file"]::-webkit-file-upload-button {
   @apply btn btn-blue
}


@keyframes highlight {
    from {
      background-color: yellow;
    }
    to {
      background-color: transparent;
    }
  }
  
  .highlight {
    animation: highlight 2s ease-in-out;
  }
  