@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl
  font-bold
    mt-6;
}

h3 {
  @apply text-xl;
}

p {
  line-height: 1.78rem;
}

a {
  color: #ff91ff;
  text-wrap: nowrap;
  display: block;
}

a:hover {
  text-decoration: underline;
}

.link {
  color: #f4f4f4;
  display: unset;
}

.link:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.bg-blur-10 {
  backdrop-filter: blur(10px);
}

.pop-over {
  @apply z-50
    fixed
    top-0
    
    bg-black
    bg-opacity-15
    w-screen
    h-[110vh]
    flex
    flex-col
    justify-center
    items-center
    bg-blur-10;
}

.loader-spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #ffffff4c;
  border-bottom-color: #808fbc;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-spin-small {
  width: 15px;
  height: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #b7b7b7 94%, #0000) top/2px 2px
      no-repeat,
    conic-gradient(#0000 30%, #adadad);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.btn-close {
  @apply p-2
    py-0
    font-bold
    text-lg
    absolute
    right-20
    -translate-y-4;
}

.border-thin {
  @apply border border-white border-opacity-35;
}

.input {
  @apply bg-black
    bg-opacity-25
    p-2 px-4
    rounded-full
    border
    border-white
    border-opacity-35 
    focus:outline-none
    w-[280px]
    max-w-[280px];
}

input#image {
  @apply flex justify-center;
}

input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.dashed-border-2 {
  border: 2px dashed rgb(118, 130, 152);
}

@keyframes highlight {
  from {
    background-color: yellow;
  }
  to {
    background-color: transparent;
  }
}

.highlight {
  animation: highlight 2s ease-in-out;
}
