/* Custom styles for React Quill editor */
.qill {
    position: relative;
    width: 100%;
    max-width: 780px;
    border: 0;
}

.ql-editor {
    /* Set font family and size */
    font-family: Arial, sans-serif;
    font-size: 16px;
    /* Set line height */
    line-height: 1.6;
  }

  .ql-editor.ql-blank::before  {
    color: rgba(255, 255, 255, 0.355)!important;
  }

  .ql-toolbar {
    position: sticky;
    top: 45px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ffffff17;
    backdrop-filter: blur(10px);
    width: 70vw;
    max-width: 800px;
    z-index: 2;
  }
  
  .ql-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 200px;
    width: 70vw;
    max-width: 800px;
    background-color: #0000004e;
    z-index: 0;
  }

  @media screen and (max-width: 550px) {
    .ql-toolbar, .ql-container {
        width: 85vw;
    }
  }

  /* Customize toolbar buttons */
  .ql-toolbar button {
    /* Set button background color */
    background-color: #f0f0f0;
    /* Set button text color */
    color: #d4d4d4;
    /* Add padding */
    padding: 8px 12px;
    /* Add margin */
    margin: 0 2px;
    /* Set border radius */
    border-radius: 4px;
    /* Add border */
    border: none;
    /* Add cursor pointer on hover */
    cursor: pointer;
  }
  
  /* Customize toolbar buttons on hover */
  .ql-toolbar button:hover svg .ql-stroke{
    /* Change background color on hover */
    background-color: #ddd;
    stroke: red;
  }

  .ql-toolbar .ql-stroke {
    stroke: #ffffff;
  }

  .ql-picker-label:before {
    color: white;
  }
  
 
  
  
  
  